*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Generale*/
.w20  {width: 20%;}
.w50  {width: 50%;}
.w60  {width: 60%;}
.w100 {width: 100%;}
.h100 {height: 80px;}

.relative{position: relative;}
.absolut {position: absolute;}
.fixed  {position: fixed;}

.box{
    width: 350px;
    height: 510px;
}

.whiteFont{
    color: white;
}
.Flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
/*header*/
header{
    background-color: orange;
}
.logo{
    width: 100px;
}
.navBar{
    align-items: center;
    justify-content:space-around;
}
/*main*/
.container{
    margin:20px 20px
    0px 20px;
}
.imgSecondaria{
    opacity: 0;
}
.Fmain{
    align-items: center;
    justify-content:center;
}
.PSectionBottom{
    margin-left: 20px;
}
.cuore{
    position: absolute;
    right: 0;
    top: 2px;
    padding: 10px;
    background-color: white;
}
.cuore:hover{
    color: red;
}
.sconto{
    position: absolute;
    left: 0;
    bottom: 30px;
    padding: 5px;
    background-color: red;
    color: white;
}
.sostenibilità{
    position: absolute;
    bottom: 30px;
    left: 50px;
    background-color: green;
    color: white;
    padding: 5px;
}
.small{font-size: 12px;}
.bold{font-weight: bolder;}
.prezzo{color: red;}
span.prezzoScontato{
    color: black;
    text-decoration: line-through;
}
.sostenibilitàUltima{
    position: absolute;
    bottom: 30px;
    left: 0px;
    background-color: green;
    color: white;
    padding: 5px;
}
section:hover .imgSecondaria{
    opacity: 1;
}
section:hover .imgPrincipale{
    opacity: 0;
}
/*footer*/